* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
}

/* Header (Start) */
.navbar {
    background-color: rgb(11, 11, 11);
    height: 80px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navlogo {
    height: 60px;
    width: 120px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
    cursor: pointer;
}

.logo {
    background-image: url("logo.png");
    height: 70px;
    width: 100%;
    margin-left: -5px;
    background-size: cover;
}


.location {
    color: rgb(236, 234, 234);
    font-size: 0.85rem;
    margin-left: 15px;
}

.location-ind {
    font-size: 1rem;
    margin-left: 3px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    border-radius: 4px;
    width: 850px;
    height: 40px;
}

.nav-search:hover {
    border: 2px solid yellow;
    cursor: pointer;
}

.nav-select {
    background-color: rgb(233, 233, 233);
    width: 50px;
    text-align: center;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.nav-select:hover {
    cursor: pointer;
}

.nav-select option {
    text-align: left;
}
.input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(243, 165, 30);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.language {
    font-weight: 550;
}

.language i {
    font-size: 20px;
}

.nav-sign span {
    font-size: 12px;
}

.acc-list {
    font-size: 15px;
    font-weight: 600;
}

.nav-cart i {
    font-size: 30px;
}

.panel {
    height: 40px;
    background-color: rgb(38, 38, 38);
    color: white;
    display: flex;
    align-items: center;
}

.panel-all {
    margin-left: 15px;
}

.panel-ops {
    margin-left: 15px;
}

.panel-ops a {
    color: white;
    margin-left: 15px;
}
/* Header (End) */

.background {
    background-image: linear-gradient(180deg, #c47ec2, #f5cff3);
}

/* Hero Section (Start) */
.hero-section {
    background-image: url("Hero-Section.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-meg {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 40px;
    width: 98%;
}

.hero-meg a {
    color: rgb(21, 147, 169);
}

.hero-meg a:hover {
    color: red;
    text-decoration: underline;
}
/* Hero Section (End) */

/* Boxes (Start) */
.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: -180px;
    margin-bottom: 20px;
}

.box {
    height: 380px;
    width: 355px;
    background-color: white;
}

.boxes2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.box-con {
    margin-left: 15px;
    margin-top: 15px;
}

.box-con p {
    font-size: 14px;
    font-weight: 500;
}

.box-con p:hover {
    color: red;
}

.box-img {
    height: 270px;
    margin: 15px 15px 15px 0;
    background-size: contain;
    background-repeat: no-repeat;
}
/* Boxes (End) */

.last-sec {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-sec div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.last-sec button {
    color: black;
    text-align: center;
    font-weight: 550;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(225, 190, 63);
    background-image: linear-gradient(180deg, rgb(247, 213, 101),rgb(184, 164, 31));
    margin: 5px 0 5px 0;
}

.last-sec button:hover {
    cursor: pointer;
}

.see-per-rec {
    font-size: 14px;
    text-align: center;
}

.new-cus {
    font-size: 13px;
    text-align: center;
}

.new-cus a:hover {
    color: red;
}

/* Footer (Start) */
.footer-part1 {
    background-color: rgb(35, 38, 68);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-part1:hover {
    background-color: rgb(52, 55, 96);
}

.footer-part2 {
    background-color: rgb(33, 28, 59);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    height: 350px;
    border-bottom: 1px solid rgb(151, 140, 140);
}

ul {
    margin-left: -100px;
    margin-right: -100px;

}

ul p {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5px;
}

ul a {
    font-size: 15px;
    display: block;
    color: rgb(230, 227, 227);
    text-decoration: none;
    margin-top: 10px;
}

ul a:hover {
    text-decoration: underline;
}

.footer-part3 {
    height: 100px;
    background-color: rgb(33, 28, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-part3 img {
    height: 50px;
    margin-right: 50px;
}

.footer-part3 button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(154, 151, 151);
    margin-left: 15px;
}
/* Footer (End) */
